.container{
    border: 1px solid red; 

    width: 300px;
    border-radius: 4;
   
    


} 
.container2{
    border: 1px dashed red; 
    
    width: 300px; 
  padding: 1rem;
    display: inline-block;

}
.main{
display: flex;
flex-wrap: wrap;
gap: 1rem;
padding: 10px;
}
.title {
    padding: 10px;
    font-weight: 200;
} 
#line{
    border:1px solid black;
}
